body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .nav {
    list-style: none;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #333;
  }
  
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
  }
  
  .bio {
    flex: 1 1 50%;
    margin-right: 20px; /* Add margin to separate bio from photo */
  }
  
  .bio h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .bio p {
    color: #666;
  }
  
  .photo {
    width: 150px; /* Set width to 150 pixels */
    height: 150px; /* Set height to 150 pixels */
    text-align: right;
    overflow: hidden; /* Hide any overflowing content */
    border: 1px solid #000;
    border-radius: 10%; /* Create a circular border */
  }
  
  .photo img {
    width: 100%; /* Ensure the image takes up 100% of the container's width */
    height: 100%; /* Ensure the image takes up 100% of the container's height */
    object-fit: cover; /* Crop the image while maintaining aspect ratio */
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: -5px;
  }
  
  
  .contact {
    text-align: left;
  }
  
  .contact a {
    display: inline-block;
    padding: 15px 40px;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .contact a:hover {
    background-color: #666;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(220, 220, 220);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -13px;
  }
  
  /* Container around content */
  .t_container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .t_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 75px;
    background-color: white;
    border: 4px solid #cae7b9;
    top: 55px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .t_left {
    left: 0;
  }
  
  /* Place the container to the right */
  .t_right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .t_left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .t_right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .t_right::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -25px;
    top: 30px;
    background-color: white;
    border: 4px solid #cae7b9;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* The actual content */
  .t_content {
    left: -50px;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  